<h1 class="mt-4">Detalles del Carrito</h1>
<hr>
<div>{{#if cart.products.length}}
    <ul>
        {{#each cart.products}}
            <li>
                <h2>{{this.productId.title}}</h2>
                <p>{{this.productId.description}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio: ${{this.productId.price}}</p>
                <button class="delete-product-button btn btn-danger mt-4 mb-4" data-cart-id="{{../cart._id}}" data-product-id="{{this.productId._id}}">Eliminar del carrito</button>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}<hr>
</div>
<script src="/js/eliminarProducto.js"></script>
